<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{web/fragments/head :: head-content}"></th:block>
    <script th:src="@{/static/js/register-validation.js}"></script>
    </th:block>
    <title>Register - Quizzies</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid row">
        <!-- Left Panel -->
        <th:block th:insert="~{web/login :: left-panel}"></th:block>
        <!-- Right Panel -->
        <div class="col-md-4 m-auto">
            <!-- Navigator -->
            <nav class="navbar navbar-expand-sm navbar-light pl-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link h3" th:href="@{/signup}">Sign up <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h3" th:href="@{/login}">Log in</a>
                    </li>
                </ul>
            </nav>
            <!-- Sign Up Form -->
            <div class="mx-auto">
                <th:block th:insert="~{web/fragments/alert :: alert}"></th:block>
                <a th:href="@{http://localhost:9090/oauth2/authorize/google?redirect_uri=http://localhost:8080/oauth2/redirect}"
                    class="btn btn-google col-12">
                    <img alt="google-logo" th:src="@{/static/img/google-logo.png}" class="google-logo" /> Continue
                    with Google</a>
                <br>
                <div class="row">
                    <hr style="float: left; width:150px;">
                    <div class="text-muted text-center pt-4">OR EMAIL</div>
                    <hr style="float: right; width:150px;">
                </div>
                <form class="m-3" th:action="@{/signup}" method="POST" th:object="${user}">
                    <div class="form-group row">
                        <input type="text" th:field="*{name}" id="name" placeholder="Type your name"
                            class="form-control" />
                        <label for="name" class="text-muted">NAME</label>
                    </div>
                    <div class="form-group row">
                        <input type="email" th:field="*{email}" id="email" placeholder="Type your email"
                            class="form-control" />
                        <label for="email" class="text-muted">EMAIL</label>
                    </div>
                    <div class="form-group row">
                        <input type="password" th:field="*{password}" id="password" placeholder="Type your password"
                            class="form-control" />
                        <label for="password" class="text-muted">PASSWORD</label>
                    </div>
                    <div class="form-group row">
                        <input type="password" name="repassword" id="repassword" placeholder="Retype your password"
                            class="form-control" />
                        <label for="repassword" class="text-muted">CONFIRM PASSWORD</label>
                    </div>
                   <!--  <div class="form-group row">
                        <label for="role" class="text-muted">YOU ARE A</label>&nbsp;
                        <select th:field="*{role}" id="role" class="form-control pl-0" style="width:90px;">
                            <option disabled selected value=""></option>
                            <option value="TEACHER" class="text-muted pl-0">TEACHER</option>
                            <option value="STUDENT" class="text-muted pl-0">STUDENT</option>
                        </select>
                    </div> -->
                    <div class="form-group row" id="role-error"></div>
                    <div class="form-group row pt-3">
                        <button type="submit" class="btn btn-primary col-12" disabled>Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>